{
    "presets": [
        ["@babel/preset-env", {
          
            "targets": {
              "node": "14.17"
            }
        }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": false }, "class-properties"]
    ]
}
